
<div class="main top-main">
  <div class="top-message">
    <h2>このサイトは、<br>
    見られたくはないけど、<br>
    発信したい…<br>
    そんな矛盾した願いを持つ<br>
    あなたの為のSNSです。
    </h2>
    <p>まずは登録してみましょう！</p>
    <div class="top-buttons">
      <div class="top-signup">
        <%= link_to("新規登録", "/signup") %>
      </div>
      <div class="top-login">
        <%= link_to("ログイン", "/login") %>
      </div>
    </div>
  </div>
</div>