<div class="main">
  <div class="posts-new">
  <%= form_tag("/posts/create") do %>
    <%# @post.errors.full_messages.each do |message| %>
      <%#= message %>
    <%# end %>
    <textarea name="content"><%= @post.content %></textarea>
    <input class="post-button" type="submit" value="投稿">
  <% end %>
  </div>
</div>